.Pied {
    background: linear-gradient(to right, #000 0%, #707070 100%);
    height: 426px;
    width: 100%;
    margin-top: 150px;
}
.mention {
    background-color: #D9D9D9;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkd {
    margin-top: 25px;
}
.button1 {
    height: 56px;
    width: 176px;
    border: none;
    border-radius: 0px;
    background-color: #F8C500;
    text-align: center; 
    margin-top: 25px;
  }
  
  .button1 span {
    z-index: 1;
    display: inline-block;
    background-color: black;
    height: 50px;
    width: 170px;
    border-radius: 0px;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.5s;
    border:solid 3px #F8C500;
    transition: all .4;
  }
  
  .button1 .container1 {
    z-index: -1;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
    transition: right .3s ease-in-out;
  }
  .button1 .container1 svg {
    padding: 4px;
  }
  .button1:hover span {
    transition:all 0.5s;
    width: 0%;
    opacity: 0%;
  }
  .button1:hover .container1 {
    z-index: 2;
    width: 100%;
  }
  .class1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 33%;
    border-right:solid #f8c500 1px;
  }
  .class2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 33%;
    border-right:solid #f8c500 1px;
  }
  .class3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 33%;
  }
  .flechejaune {
    position: fixed;
    right: 20px;
    bottom: 10px;
}
.test {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:1512px;
    height: 426px;
    margin: auto;
}
.rond {
    width: 140px;
    height: 140px;
    background-color: #495468;
    border-radius: 6px;
    object-fit: cover;
}
.légale {
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
}
.container1{
    display: flex;
    list-style: none;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 0;
}
@media only screen and (max-width:700px) {
.Pied {
    height: 280px;
    margin-top: 100px;
}
.class1 {
    margin-bottom: 50px;
    line-height: 0px;
}
.class2 {
    margin-bottom: 50px;
    line-height: 0px;
}
.class3 {
    margin-bottom: 50px;
    line-height: 0px;
}
.button1 {
    height: 37px;
    width: 117px;
}
.button1 span {
    height: 31px;
    width: 111px;
    font-size: 14px;
    line-height: 30px;
}
.rond {
    width: 90px;
    height: 90px;
}
.prenom {
    font-size: 16px;
}
.linkdin {
    width: 20px;
    height: 20px;
}
.mail {
    width: 24px;
    height: 24px;
}
.github {
    width: 24px;
    height: 24px;
}
.button1 .container1 svg {
    padding-top: 18px;
  }
  .mention {
    height: 30px;
  }
  .légale {
    font-size: 12px;
  }
.test {
    height: 279px;
}
}

@media only screen and (max-width:500px) {
  .button1 {
    height: 18px;
    width: 58px;
    margin-top: 20px;
}
.button1 span {
    height: 16px;
    width: 56px;
    font-size: 8px;
    line-height: 17px;
    border:solid 1px #F8C500;
}
.rond {
    width: 45px;
    height: 45px;
}
.prenom {
    font-size: 10px;
}
.linkdin {
    width: 10px;
    height: 10px;
}
.mail {
    width: 10px;
    height: 10px;
}
.github {
    width: 10px;
    height: 10px;
}
.button1 .container1 svg {
    padding-top: 37px;
  }
  .test {
    height: 190px;
  }
  .Pied {
    height: 170px;
  }
  .mention {
    height: 20px;
  }
  .légale {
    font-size: 10px;
  }
}