.back-form {
    background-repeat: repeat;
    background-image: url("../images/motif3.jpg");
    width: 97vw;
    height: 150vh;
    position: absolute;
    z-index: -10;
    filter: grayscale(75%) blur(5px);
}
.container-form {
    max-width: 620px;
    margin: auto;
    margin-top: 100px;
}
.block-noir {
    background: linear-gradient(to right, #000 0%, #707070 100%);
    padding: 50px;
}
.block-form {
    background-color: white;
    padding: 40px;
    max-width: 447px;
}
.nom-form h3 {
    margin-top: 0;
}
.prenom-form h3 {
    margin-top: 0;
}
.civilite {
    display: flex;
    max-width: 408px;
    justify-content: space-between;
}
h3 {
    font-size: 22px;
    margin: 5px 0px;
}
label {
    font-size: 14px;
}
.confidentialite input {
    margin: 0;
}
#checkbox:checked {
background-color: #f8c500;  
}
#checkbox {
    accent-color: #f8c500;
    vertical-align: middle;
}
#message-form {
    width: 433px;
    height: 229px;
    resize: none;
}
input:focus {
        box-shadow: 0px 16px 19px -1px rgba(0,0,0,0.12), 0px -20px 30px -23px #000000;
}
input {
    outline: none;
}
.button-form {
    text-align: end;
}
.button-form .btn a {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}
.button-form .btn:hover a {
    color: white;
    transition: 0.2s ease-in-out;
}
*{
    transition: 0.5s all;
}
@media only screen and (max-width:700px) {
    .container-form {
        max-width: 500px;
    }
    .nom-form input {
        width: 150px;
    }
    .prenom-form input {
        width: 150px;
    }
    .block-noir {
        padding: 40px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .block-form {
        padding: 20px;
    }
    .civilite {
        max-width: 389px;
    }
    .adresse-form input  {
        width: 300px!important;
    }
    .telephone-form input {
        width: 300px!important;
    }
    #message-form {
        width: 307px;
    }
    *{
        transition: 0.5s all;
    }
    .back-form {
        height: 130vh;
    }
}
@media only screen and (max-width:700px) {
    .back-form {
        height: 110vh;
    }
}
