.container-form {
    max-width: 620px;
    margin: auto;
    margin-top: 100px;
}
.block-noir {
    background: linear-gradient(to right, #000 0%, #707070 100%);
    padding: 50px;
}
.block-form {
    background-color: white;
    padding: 40px;
    max-width: 447px;
}
.nom-form h3 {
    margin-top: 0;
}
.prenom-form h3 {
    margin-top: 0;
}
.civilite {
    display: flex;
    max-width: 408px;
    justify-content: space-between;
}
h3 {
    font-size: 22px;
    margin: 5px 0px;
}
label {
    font-size: 14px;
}
.confidentialite input {
    margin: 0;
}
#checkbox:checked {
background-color: #f8c500;  
}
#checkbox {
    accent-color: #f8c500;
    vertical-align: middle;
}
#message-form {
    width: 433px;
    height: 229px;
    resize: none;
}
input:focus {
        box-shadow: 0px 16px 19px -1px rgba(0,0,0,0.12), 0px -20px 30px -23px #000000;
}
input {
    outline: none;
}
.button-form {
    text-align: end;
}
.button-form .btn a {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}
.button-form .btn:hover a {
    color: white;
    transition: 0.2s ease-in-out;
}