header {
  background-color: var(--color-bg);
  max-width: 1440px;
  height: 100px;
  nav {
    display: flex;
    align-items: center;
    padding: 16px 0;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: solid 1px var(--color-oxford);
    justify-content: center;
    .connect {
      background-color: var(--color-oxford);
      margin-left: 14%;
    }
    .contact {
      background-color: var(--color-carot);
      margin-left: 3%;
      h3 {
        padding-right: 0;
      }
    }
    .logo-nav {
      width: 96%;
      height: auto;
    }
    .btn {
      display: flex;
      min-width: 149px;
      height: 54px;
      border-radius: 40px;
      align-items: center;
      justify-content: center;
      color: var(--color);
      text-decoration: none;
      white-space: nowrap;
      h3,
      svg {
        font-size: var(--h3-font-size);
        color: var(--color);
        padding-right: 15px;
        font-weight: 400;
      }
      svg {
        padding: 0 10px;
      }
    }
    ul {
      display: flex;
      list-style: none;
      margin-left: 15%;
      width: 37.8%;
      li {
        padding-left: 12.3%;
        a {
          text-decoration: none;
          color: var(--color-oxford);
          font-weight: 600;
          white-space: nowrap;
        }
      }
    }
  }
}

.container_non_bs {
  max-width: 1440px;
  display: flex;
}
