.container{
    display: flex;
    list-style: none;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 0;
    width: 1110px;
}
nav{
    background: linear-gradient(to right, #000 0%, #707070 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 999;
    height: 75px;
}
.menu {
    display: flex;
    align-items: center;
}
.button {
    margin-left: 200px;
    white-space: nowrap;
    transition: all .5s ease-out;
}
.btn,
.btn2
{
    text-decoration: none;
    border: solid #f8c500;
    padding: 6px 12px;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}
.btn::after,
.btn2::after {
    content: "";
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
    content: '';
    left: 0;
    right: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    background-color: #f8c500;
}
.btn:hover::after,
.btn2:hover::after{
right: 0%;
}
.icone{
    width: 5%;
}
p {
 color: #D9D9D9;   
 font-size: 20px;
}

.accueil,
.cv
 {
    border-right:solid #f8c500 1px;
    padding: 0 30px;
    line-height: 15px;
    position: relative;
}
.accueil::before,
.cv::before,
.portef::before {
    transition: opacity .4s ease-in-out,visibility .4s ease-in-out,right .4s ease-in-out;
    content: '';
    left: 28px;
    right: calc(100% + 6px);
    bottom: -0.1875rem;
    position: absolute;
    background-color: #f8c500;
    height: 0.125rem;
    opacity: 0;
    visibility: hidden;
}
.accueil:hover::before,
.cv:hover::before,
.portef:hover::before {
    right: 29px;
    opacity: 1;
    visibility: visible; 
}
.cv {
    border-right:solid #f8c500 1px;
    padding-right: 30px;
    line-height: 15px;
    white-space: nowrap;
}
.portef {
    padding: 0 30px;
    line-height: 15px;
    position: relative;
}
.t {
    font-weight: 100
}
.accueil {
    margin-left: 200px;
    transition: all .5s ease-out;
}
.invisible {
    display: none;
    transition: all .5s ease-out;
}
.menub {
    border-top:solid #f8c500 6px;
    background-color:#ffffff ;
    width: 500px;
    height: 250px;
    margin-left: 10px;
    margin-right: 25px;
    position: fixed;
}
.menub a {
    color: #000;
    font-size:  .875rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    padding: 13px 41px 13px 10px;
}
.accueil-menu , .cv-menu ,.portef-menu {
    display: flex;
    border-bottom: solid #f8c500 1px;
    justify-content: left;
    align-items: center;
}
.btn2 {
    padding: 8px 10px !important;
}
.button2 {
    margin-top: 30px;
    margin-left: 10px;
}
@media only screen and (max-width:1200px) { 
    .accueil {
        margin-left: 110px;
        transition: all .5s ease;
    }
    .button {
        margin-left:110px;
        transition: all .5s ease;
    }
    
}

@media only screen and (max-width:1000px) { 
    .accueil {
        margin-left: 50px;
        transition: all .5s ease;
    }
    .button {
        margin-left:50px;
        transition: all .5s ease;
    }
    
}
@media only screen and (max-width:870px) { 
    .accueil {
        margin-left: 0px;
        transition: all .5s ease;
    }
    .button {
        margin-left:0px;
        transition: all .5s ease;
    } 
}
    @media only screen and (max-width:700px) {
        .menu {
            display: none;
        }
        .button {
            display: none;
        }
        .icone {
            width: 12%;
        }
        .container {
            justify-content: left;
            padding: 0;
      }
      .invisible {
            display: flex;
            justify-content: center;
            margin-left: auto;
            transition: all .5s ease;
      }
    }
    @media only screen and (max-width:600px) {
        .invisible {
            margin-left: auto;
            transition: all .5s ease;
        }
    }
    @media only screen and (max-width:500px) {
        .invisible {
            margin-left: auto;
            transition: all .5s ease;
        }
    }
    @media only screen and (max-width:450px) {
        .invisible {
            margin-left: auto;
            transition: all .5s ease;
        }
    }
    @media only screen and (max-width:400px) {
        .invisible {
            margin-left: auto;
            transition: all .5s ease;
        }
    }