

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 100px;
  transition: all .5s ease;
}

/* Hide the images by default */
.mySlides ,.mySlides2 ,.mySlides3 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-top: 29.5px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f8c500;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot , .dot2 , .dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover , .dot2:hover , .dot3:hover {
  background-color: #f8c500;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.arondie-slide {
  transition: all .5s ease;
  border-radius: 30px;
  box-shadow: 0px 16px 19px -1px rgba(0,0,0,0.12) , 5px -9px 30px -23px #000000;
  width: 1000px;
  height: 500px;
  object-fit: cover;
}
.slideshow-container h2 {
  display: inline-block;
  font-size: 30px;
  color: #000000;
  letter-spacing: .1em;
  text-shadow:2px 3px 3px #fff, 0 1px 0 #2e2e2e00, 0 3px 0 #f8c500 , 5px 7px 2px rgb(215 201 108 / 0%);
  cursor: default;
  transition: 0.7s all;
}
.slideshow-container h2:hover {
  scale: 1.5;
  transition: 0.7s all;
}
.titre-pf {
  text-align: center;
  margin-bottom: 30px;
}
.carre-noir {
  transition: all .5s ease;
  width: 200px;
    display: block;
    position: absolute;
    width: 813px;
    height: 429px;
    left: -44px;
    top: 91px;
    background: linear-gradient(90deg, rgba(9, 9, 9, 0.9215) 28.29%, rgba(99, 99, 99, 0.97) 62.34%, rgba(99, 99, 99, 0.9118) 69.63%, rgba(99, 99, 99, 0.8439) 77.69%, rgba(99, 99, 99, 0.6887) 86.98%, rgba(112, 112, 112, 0.582) 101.65%);
    border-radius: 50px;
    z-index: -10;
}

@media only screen and (max-width:1150px) {
    .slideshow-container {
      max-width: 800px;
      transition: all .5s ease;
    }
    .arondie-slide {
      transition: all .5s ease;
      height: 420px;
    }
    .carre-noir {
      transition: all .5s ease;
      width:700px ;
      height: 387px;
    }
}
@media only screen and (max-width:920px) {
  .slideshow-container {
    max-width: 650px;
    transition: all .5s ease;
  }
  .arondie-slide {
    transition: all .5s ease;
    height: 340px;
  }
  .carre-noir {
    transition: all .5s ease;
    width:541px ;
    height: 311px;
    top: 99px;
    left:-25px;
  }
}
@media only screen and (max-width:760px) {
  .slideshow-container {
    max-width: 530px;
    transition: all .5s ease;
  }
  .arondie-slide {
    transition: all .5s ease;
    height: 274px;
  }
  .carre-noir {
    transition: all .5s ease;
    width:453px ;
    height: 249px;
  }
  .titre-pf h2 {
    transition: all .5s ease;
    font-size: 28px;
  }
  .dot , .dot2 , .dot3 {
    width: 10px;
    height: 10px;
    transition: all .5s ease;
  }
}
@media only screen and (max-width:630px) {
  .slideshow-container {
    max-width: 434px;
    transition: all .5s ease;
  }
  .arondie-slide {
    height: 220px;
    transition: all .5s ease;
  }
  .titre-pf h2 {
    font-size: 25px;
    transition: all .5s ease;
  }
  .carre-noir {
    transition: all .5s ease;
    width:373px ;
    height: 204px;
    top: 89px;
  }
}