html {
    font-family: "poppins";
}

body{
    margin: 70px 0px 0px 0px;
 }
.container{
    display: flex;
    list-style: none;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 0;
    width: 1110px;
}
nav{
    background: linear-gradient(to right, #000 0%, #707070 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 999;
    height: 75px;
}
.menu {
    display: flex;
    align-items: center;
}
.button{
    margin-left: 200px;
    white-space: nowrap;
    transition: all .5s ease-out;

}
.btn{
    text-decoration: none;
    border: solid #f8c500;
    color: white;
    padding: 6px 12px;
    margin-right: 20px;
    position: relative;
}
.btn::after {
    content: "";
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
    content: '';
    left: 0;
    right: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    background-color: #f8c500;
}
.btn:hover::after {
right: 0%;
}
.icone{
    width: 5%;
}
p {
 color: #D9D9D9;   
 font-size: 20px;
}

.accueil,
.cv
 {
    border-right:solid #f8c500 1px;
    padding: 0 30px;
    line-height: 15px;
    position: relative;
}
.accueil::before,
.cv::before,
.portef::before {
    transition: opacity .4s ease-in-out,visibility .4s ease-in-out,right .4s ease-in-out;
    content: '';
    left: 28px;
    right: calc(100% + 6px);
    bottom: -0.1875rem;
    position: absolute;
    background-color: #f8c500;
    height: 0.125rem;
    opacity: 0;
    visibility: hidden;
}
.accueil:hover::before,
.cv:hover::before,
.portef:hover::before {
    right: 29px;
    opacity: 1;
    visibility: visible; 
}
.cv {
    border-right:solid #f8c500 1px;
    padding-right: 30px;
    line-height: 15px;
    white-space: nowrap;
}
.portef {
    padding: 0 30px;
    line-height: 15px;
    position: relative;
}
.t {
    font-weight: 100
}
.accueil {
    margin-left: 200px;
    transition: all .5s ease-out;
}
.c {
    display: flex;
    margin: auto;
    max-width: 1110px;
    justify-content:center;

}
a {
    color: white;
    text-decoration: none
}
.Pied {
    background: linear-gradient(to right, #000 0%, #707070 100%);
    height: 426px;
    width: 100%;
    margin-top: 200px;
}
.mention {
    background-color: #D9D9D9;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkd {
    margin-top: 25px;
}
.button1 {
    height: 56px;
    width: 176px;
    border: none;
    border-radius: 0px;
    background-color: #F8C500;
    text-align: center; 
    margin-top: 25px;
  }
  
  .button1 span {
    z-index: 1;
    display: inline-block;
    background-color: black;
    height: 50px;
    width: 170px;
    border-radius: 0px;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.5s;
    border:solid 3px #F8C500;
    transition: all .4;
  }
  
  .button1 .container1 {
    z-index: -1;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
    transition: right .3s ease-in-out;
  }
  .button1 .container1 svg {
    padding: 4px;
  }
  .button1:hover span {
    transition:all 0.5s;
    width: 0%;
    opacity: 0%;
  }
  .button1:hover .container1 {
    z-index: 2;
    width: 100%;
  }
  .class1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 33%;
    border-right:solid #f8c500 1px;
  }
  .class2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 33%;
    border-right:solid #f8c500 1px;
  }
  .class3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 33%;
  }
  .flechejaune {
    position: fixed;
    right: 20px;
    bottom: 10px;
}
.flechejaune:hover {
    transform: scale(1.2);
    transition: 0.5s all;
}
.test {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:1512px;
    height: 426px;
    margin: auto;
}
.rond {
    width: 140px;
    height: 140px;
    border-radius: 360px;
    background-color: #ffffff;
}
.légale {
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
}
.image1 {
    width:486px ;
    height:552px;
}
.image2 {
    width:486px ;
    height:552px ;
}
#text1 {
    margin-bottom: 150px;
}
.text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    text-align: justify;
    font-size: 16px;
    line-height: 40px;
}
.bloctext {
    margin-left: 50px;
    color: #000000;
    font-size: 20px;
}
.text3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    text-align: justify;
    font-size: 16px;
    line-height: 37px;
}
.bloctext1 {
    margin-right: 50px;
    color: #000000;
    font-size: 20px;
}
.s3 {
    margin-top: 50px;
}
.carre1 {
    width: 386px;
    height: 452px;
    background-color: #f8c500;
    position: absolute;
    z-index: -2;
    top: -23px;
    left: -23px;
}
.c-i {
position: relative;
}
.carre2 {
    width: 200px;
    height: 200px;
    background-color: #f8c500;
    position: absolute;
    z-index: -2;
    top: -23px;
    right: -23px;
}
.carre3 {
    width: 100px;
    height: 100px;
    background-color: #f8c500;
    position: absolute;
    z-index: -2;
    bottom: -12px;
    left: -13px;
}
.c-i2 {
position: relative;
}
.tablette {
    width: 60%;
    height: 600px;
}
.para1 {
    color: white;
    display: flex;
    align-items: center;
    text-align: right;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.premiere {
    background: linear-gradient(to right, #000 0%, #707070 100%);
}
.para2 {
    color: white;
    display: flex;
    align-items: center;
    text-align: right;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
}
.paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.container1{
    display: flex;
    list-style: none;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 0;
}
@media only screen and (max-width:1200px) { 
    .accueil {
        margin-left: 110px;
        transition: all .5s ease;
    }
    .button {
        margin-left:110px;
        transition: all .5s ease;
    }
    
}

@media only screen and (max-width:1000px) { 
    .accueil {
        margin-left: 50px;
        transition: all .5s ease;
    }
    .button {
        margin-left:50px;
        transition: all .5s ease;
    }
    
}
@media only screen and (max-width:870px) { 
    .accueil {
        margin-left: 0px;
        transition: all .5s ease;
    }
    .button {
        margin-left:0px;
        transition: all .5s ease;
    } 
}
@media only screen and (max-width:700px) {
    .menu {
        display: none;
    }
    .button {
        display: none;
    }
    .icone {
        width: 12%;
    }
    .container {
        justify-content: left;
        padding: 0;
  }
    body {
        width: fit-content;
  }
    .c {
        display:block
    }
    .test {
        height: 279px;
    }
    .tablette {
        width: 100%;
        height: fit-content;
    }
    .para1 {
        text-align: center;
    }
    .para2 {
        text-align: left;
    }
    #text1 {
        padding-bottom: 70px;
    }
    .image1 {
        width: 339px;
        height: 409px;
    }
    .s2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bloctext {
        margin-top: 50px;
        margin-left: 0;
        font-size: 16px;
    }
    .s3 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .carre1 {
        width: 340px;
        height: 411px;
        top: -19px;
        left: -22px;
    }
    .bloctext1 {
        margin-right: 0;
        font-size: 16px;
    }
    .image2 {
        width: 339px;
        height: 409px;
    }
    .carre2 {
        width: 175px;
        height: 175px;
        top: -16px;
        right: -16px;
    }
    .carre3 {
        bottom: -8px;
        left: -9px;
    }
    .Pied {
        height: 280px;
    }
    .class1 {
        margin-bottom: 50px;
        line-height: 0px;
    }
    .class2 {
        margin-bottom: 50px;
        line-height: 0px;
    }
    .class3 {
        margin-bottom: 50px;
        line-height: 0px;
    }

    .button1 {
        height: 37px;
        width: 117px;
    }
    .button1 span {
        height: 31px;
        width: 111px;
        font-size: 14px;
        line-height: 30px;
    }
    .rond {
        width: 90px;
        height: 90px;
    }
    .prenom {
        font-size: 16px;
    }
    .linkdin {
        width: 20px;
        height: 20px;
    }
    .mail {
        width: 24px;
        height: 24px;
    }
    .github {
        width: 24px;
        height: 24px;
    }
    .button1 .container1 svg {
        padding-top: 18px;
      }
      .mention {
        height: 30px;
      }
      .légale {
        font-size: 12px;
      }
}