 body{
    margin-top: 80px;
 }
.container{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
    font-family: "poppins";
    align-items: center;
    margin: 0;
    width: 1110px;
}
nav{
    background: linear-gradient(to right, #000 0%, #707070 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    align-items: center;
}
.button{
    margin-left: 200px;
    white-space: nowrap;

}
.btn{
    text-decoration: none;
    border: solid #f8c500;
    color: white;
    padding: 6px 12px;
    margin-right: 20px;
    position: relative;
}
.btn::after {
    content: "";
    -webkit-transition: right .3s ease-in-out;
    -o-transition: right .3s ease-in-out;
    transition: right .3s ease-in-out;
    content: '';
    left: 0;
    right: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    background-color: #f8c500;
}
.btn:hover::after {
right: 0%;
}
.icone{
    width: 5%;
}
.container{
    justify-content: center;
}
p {
  background-color: #707070;
}

.accueil,
.cv
 {
    border-right:solid #f8c500 1px;
    padding: 0 30px;
    line-height: 15px;
    position: relative;
}
.accueil::before,
.cv::before,
.portef::before {
    transition: opacity .6s ease-in-out,visibility .6s ease-in-out,right .6s ease-in-out;
    content: '';
    left: 28px;
    right: calc(100% + 6px);
    bottom: -0.1875rem;
    position: absolute;
    background-color: #f8c500;
    height: 0.125rem;
    opacity: 0;
    visibility: hidden;
}
.accueil:hover::before,
.cv:hover::before,
.portef:hover::before {
    right: 29px;
    opacity: 1;
    visibility: visible; }

.cv {
    border-right:solid #f8c500 1px;
    padding-right: 30px;
    line-height: 15px;
    white-space: nowrap;
}
.portef {
    padding: 0 30px;
    line-height: 15px;
    position: relative;
}
.t {
    font-weight: 100
}
.accueil {
    margin-left: 200px;
}
.c {
    display: flex;
    margin: auto;
    max-width: 1512px;
    justify-content:center ;
}
a {
    color: white;
    text-decoration: none
}
.Pied {
    background: linear-gradient(to right, #000 0%, #707070 100%);
    height: 426px;
    margin-top: 100px;
    width: 100%;
}
.mention {
    background-color: #D9D9D9;
    height: 76px;
}
.linkd {
    margin-top: 25px;
}
.button1 {
    height: 53px;
    width: 203px;
    border: none;
    border-radius: 0px;
    background-color: #F8C500;
    text-align: center; 
    margin-right: 30px;
  }
  
  .button1 span {
    z-index: 1;
    display: inline-block;
    background-color: black;
    height: 50px;
    width: 200px;
    border-radius: 0px;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    transition: all 0.5s;
    border:solid 3px #F8C500;
  }
  
  .button1 .container {
    z-index: -1;
    width: 0;
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
    transition: all 0.4s;
  }
  
  .button1 .container svg {
    padding: 4px;
  }
  
  .button1:hover span {
    width: 0%;
    opacity: 0%;
  }
  
  .button1:hover .container {
    z-index: 2;
    width: 100%;
  }
  .class1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .class2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .class3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flechejaune {
    position: fixed;
    right: 20px;
    bottom: 10px;
}
.flechejaune:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}